/* assets/css/style.css */
:root {
    --font-persian: "Vazirmatn", Tahoma, Arial, "Segoe UI", Roboto, "Helvetica Neue", system-ui, sans-serif;
}

body {
    direction: rtl;
    text-align: right;
    font-family: var(--font-persian);
    color: #1e293b;
    background-color: #f8fafc;
}

